<section class="about-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-12 m-0 p-0 d-none d-lg-block">
        <img src="home-1.jpg" class="img-fluid" alt="My Image" />
      </div>
      <div class="col-lg-7 col-12 py-lg-2 pt-2 py-0 about-content">
        <div class="col-12">
          <h1 class="text-center mb-3">About Me</h1>
          <h2 class="text-capitalize text-center">
            Front-end Developer <span>|</span> Angular.
          </h2>
          <h6 class="text-lg-start text-center">
            I am a front-end developer with expertise in building dynamic and
            responsive web applications using modern technologies such as HTML,
            CSS, and JavaScript. With a strong command of Angular frameworks, I
            focus on delivering seamless user experiences with clean,
            maintainable code. Committed to performance optimization,
            accessibility, and cross-browser compatibility, I consistently seeks
            innovative solutions to enhance both functionality and aesthetics.
            Active in developer communities and a contributor to open-source
            projects, I continuously hones my skills through learning and
            collaboration. I am a passionate Front-End Developer with a keen eye
            for detail and a strong focus on creating seamless, responsive, and
            user-friendly web applications.
          </h6>
        </div>
        <div class="row align-items-center">
          <!-- BirthDay  -->
          <div class="col-lg-6 col-12">
            <div
              class="d-flex align-items-center align-items-center text-capitalize"
            >
              <span class="me-2"
                ><i class="fa-solid fa-chevron-right"></i
              ></span>
              <h5 class="m-0 p-0 fw-semibold me-1">Birth Date :</h5>
              <p class="m-0 p-0">16 February 2003</p>
            </div>
          </div>
          <!-- Phone  -->
          <div class="col-lg-6 col-12">
            <div class="d-flex align-items-center text-capitalize my-lg-4 my-2">
              <span class="me-2"
                ><i class="fa-solid fa-chevron-right"></i
              ></span>
              <h5 class="m-0 p-0 fw-semibold me-1">Phone :</h5>
              <p class="m-0 p-0">+201121549081</p>
            </div>
          </div>
          <!-- Address  -->
          <div class="col-lg-6 col-12">
            <div class="d-flex align-items-center text-capitalize mb-2 mb-lg-0">
              <span class="me-2"
                ><i class="fa-solid fa-chevron-right"></i
              ></span>
              <h5 class="m-0 p-0 fw-semibold me-1">Address :</h5>
              <p class="m-0 p-0">Cairo, Egypt</p>
            </div>
          </div>
          <!-- Age  -->
          <div class="col-lg-6 col-12">
            <div class="d-flex align-items-center text-capitalize">
              <span class="me-2"
                ><i class="fa-solid fa-chevron-right"></i
              ></span>
              <h5 class="m-0 p-0 fw-semibold me-1">Age :</h5>
              <p class="m-0 p-0">21</p>
            </div>
          </div>
          <!-- Email  -->
          <div class="col-lg-6 col-12">
            <div class="d-flex align-items-center my-lg-4 my-2">
              <span class="me-2"
                ><i class="fa-solid fa-chevron-right"></i
              ></span>
              <h5 class="m-0 p-0 fw-semibold me-1">Email :</h5>
              <p class="m-0 p-0">aymansedkey&#64;gmail.com</p>
            </div>
          </div>
          <!-- freelance  -->
          <div class="col-lg-6 col-12 pb-5 pb-lg-0 mb-lg-0 mb-3">
            <div class="d-flex align-items-center text-capitalize">
              <span class="me-2"
                ><i class="fa-solid fa-chevron-right"></i
              ></span>
              <h5 class="m-0 p-0 fw-semibold me-1">freelance :</h5>
              <p class="m-0 p-0">Available</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
