<section class="home-container">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="main_content text-white">
                    <h1 class="text-capitalize">
                        <span class="first-span"> Hi, <br>  </span>
                        <!-- <br>  -->
                        <span class="">I’m Ayman sedkey </span>
                    </h1>
                    <!-- <div> -->
                        <h4 class=" mb-4 text-capitalize fs-2">Front-end Developer <span> | </span> Angular</h4>
                    <!-- </div> -->
                    <div class="d-flex contact_icons">
                        <a href="https://www.linkedin.com/in/ayman-sedkey-0760252a5?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" class="text-center rounded-circl me-lg-4 me-3 p-2">
                            <span class="icon"><i class="fa-brands fa-linkedin-in"></i></span>
                        </a>
                        <a href="https://github.com/Aaymansedkey10" class="text-center rounded-circl me-lg-4 me-3 p-2">
                            <span class=""><i class="fa-brands fa-github"></i></span>
                        </a>
                        <a href="https://www.facebook.com/profile.php?id=100031219996272&mibextid=ZbWKwL" class="text-center rounded-circl me-lg-4 me-3 p-2">
                            <span class=""><i class="fa-brands fa-facebook"></i></span>
                        </a>
                        <a href="https://www.instagram.com/ayman_da_ana22?igsh=dHFndnZ4cDB1b3Ry" class="text-center rounded-circl p-2">
                            <span class=""><i class="fa-brands fa-instagram "></i></span>
                        </a>
                    </div>
                    <div class="mt-4">
                        <a href="https://drive.google.com/file/d/1XTnSF9AUde90eanV0Qb2_nc2dxOJaTbq/view?usp=sharing" target="_blank" class="btn rounded-pill px-4 py-2 text-white  fw-semibold text-capitalize button_resume">Download Resume</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
