.nav-bar-container ul {
  margin-top: 68% !important;
}
.nav-bar-container .navbar-nav .nav-item:hover {
  background-color: #0563bb !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.nav-bar-container .navbar-nav .nav-item .nav-link {
  padding: 0px 15px 0px 0px !important;
}
.nav-bar-container .navbar-nav .nav-link i {
  background-color: #0563bb !important;
  transition: all 0.6s ease-in-out;
}
.nav-bar-container .navbar-nav .nav-item:hover p {
  display: inline !important;
  padding: 0% !important;
}

@media screen and (max-width: 992px) {
  .nav-bar-container ul {
    margin-top: 0% !important;
  }
  .nav-bar-container .navbar-nav .nav-item .nav-link {
    padding: 0px !important;
  }
  .nav-bar-container .navbar-nav .nav-item {
    background-color: transparent !important;
    border: none !important;
  }
  .nav-bar-container .navbar-nav .nav-item:hover {
    background-color: transparent !important;
    box-shadow: transparent 0px 5px 15px;
  }
  .nav-bar-container .navbar-nav .nav-link i {
    background-color: transparent !important;
    color: #0563bb !important;

    transition: all 0.6s ease-in-out;
  }
  .nav-bar-container .navbar-nav .nav-item:hover p {
    display: none !important;
  }
  .nav-bar-container {
    border-top: 1px solid #0563bb !important;
    position: fixed;
    bottom: 0;
    width: 100% !important;
    padding: 0px;
    z-index: 10;
    background-color: #fff !important;
  }
}
