<section class="nav-bar-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <ul
          class="navbar-nav flex-lg-column flex-row align-items-center align-items-lg-start justify-content-between"
        >
          <li class="nav-item rounded-pill mb-lg-4 mb-0">
            <a
              class="nav-link text-dark d-flex align-items-center"
              href="/home"
            >
              <i class="fa-solid fa-house p-3 rounded-circle text-white"></i>
              <p class="m-0 p-0 d-none fw-bold text-white">Home</p>
            </a>
          </li>
          <li class="nav-item rounded-pill mb-lg-4 mb-0">
            <a
              class="nav-link text-dark d-flex align-items-center"
              href="/aboutme"
            >
              <i class="fa-solid fa-user p-3 rounded-circle text-white"></i>
              <p class="m-0 p-0 d-none fw-bold text-white">About Me</p>
            </a>
          </li>
          <li class="nav-item rounded-pill mb-lg-4 mb-0">
            <a
              class="nav-link text-dark d-flex align-items-center"
              href="/skills"
            >
              <i class="fas fa-cogs p-3 rounded-circle text-white"></i>
              <p class="m-0 p-0 d-none fw-bold text-white">Skills</p>
            </a>
          </li>
          <li class="nav-item rounded-pill mb-lg-4 mb-0">
            <a
              class="nav-link text-dark d-flex align-items-center"
              href="/services"
            >
              <i
                class="fa-solid fa-briefcase p-3 rounded-circle text-white"
              ></i>
              <p class="m-0 p-0 d-none fw-bold text-white">Services</p>
            </a>
          </li>
          <li class="nav-item rounded-pill mb-lg-4 mb-0">
            <a
              class="nav-link text-dark d-flex align-items-center"
              href="/projects"
            >
              <i
                class="fa-solid fa-diagram-project p-3 rounded-circle text-white"
              ></i>
              <p class="m-0 p-0 d-none fw-bold text-white">Projects</p>
            </a>
          </li>
          <li class="nav-item rounded-pill mb-lg-4 mb-0">
            <a
              class="nav-link text-dark d-flex align-items-center"
              href="/contact"
            >
              <i class="fa-solid fa-envelope p-3 rounded-circle text-white"></i>
              <p class="m-0 p-0 d-none fw-bold text-white">Contact</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
