<section class="services-container py-lg-3 py-0 pt-2 pb-5 pb-lg-0 pt-lg-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center mb-lg-4 mb-2">Services</h1>
            </div>
            <div class="col-6 col-lg-4 text-center mt-2" *ngFor="let service of services">
                <div class="card py-3">
                     <i [class]="service.icon"></i>
                    <div class="card-body">
                        <h5 class="card-title">{{service.title}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>